/* GENERAL APPEARANCE */
html, body, h1, form, fieldset, legend, ol, li {
	margin: 0;
	padding: 0;
}

body {
	background: #98D5F1;
	color: #111111;
	padding: .5%;
}

form{
	background: #D9ECF5;
	-moz-border-radius: 2%;
	-webkit-border-radius: 2%;
	border-radius: 2%;
	padding: 2%;
	width: 50%;
}

