@media only screen and (min-width: 650px){
	nav {
		text-align: center;
	}
	nav ul li{
		display: inline-block;
	}	
	nav ul li, .menu-icon{
		border-top: 1px solid #DDDDDA;
	}
	.photo-cell {
		display: inline-block;
		width: 47%;
	}
	.main-content-home{
		margin-top: 125px;
	}
	.home-flag img{
		width: 30%;
	}
}

@media only screen and (min-width: 1000px){
	nav {
		text-align: right;
	}
	nav ul li{
		padding-top: 14px;
	}
	nav ul li, .menu-icon{
		border-top: none;
	}
	.logo {
		float: left;
	}
	.photo-cell {
		display: inline-block;
		width: 30%;
	}
	.main-content-home{
		margin-top: 90px;
	}
	.home-flag img{
		width: 18%;
	}
}